// COLORS
/* Cool colors */

// Importing after all this so I could use variables
@import "font-import.less";
@import "variables.less";
@import "mixins.less";

/* HELPING CLASSES */

.fl {
	float: left;
}
.fr {
	float: right;
}
/* THOSE HEADLINES */


*, *:before, *:after {
  .box-sizing();
}

html {
	font-family: @std-font;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 70%;
  height: 100%;
	line-height: 150%;
}

@media @tablet {
  html { font-size: 90%; }
}

@media @desktop {
  html { font-size: 100%; }
}

body {
  color: @color-black;
  height: 100%;
	margin: 0;
}

.container {
  margin: 0 auto;
  //max-width: @max-width;
  width: 100%;
  padding: 0 3%;
  position: relative;
}
@media @desktop {
  .container {
    padding: 0 2%;
  }
}

b {
  font-weight: bold;
}
h2 {
  font-size: 2.8rem;
  width: 100%;
  font-weight: bold;
  padding: 5% 0 2% 0;
  text-align: center;
}
a {
  color: inherit;
}

::selection {
  background: @color-selection; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: @color-selection; /* Gecko Browsers */
}

header {
	position: absolute;
	color: @color-vintage-white;
}

.intro {
	min-height: 99vh;
	//background: @color-slime-green;
	position: relative;
	background: @color-cool-blue;
	//background: @color-black;
	//-webkit-clip-path: circle(1000vh at 50vw -908vh);
	//clip-path: circle(100px at center );
	.image {
		width: 200px;
		height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url('../img/viktor.png');
		display: block;
		.transition(all 600ms @cool-bezier);
		transition-delay: 600ms;
		opacity: 1;

		@media @tablet {
			width: 400px;
			height: 400px;
		}
		@media @narrowtablet {
			width: 300px;
			height: 300px;
		}
		.center();
	}
	.text {
		width: 90%;
		width: 90vw;

		//text-transform: uppercase;
		color: @color-vintage-white;
		font-size: 20px;
		font-weight: bold;
		line-height: 120%;

		@media @smallmobile {
			font-size: 16px;
		}
		@media @tablet {
			font-size: 42px;
		}

		.line {
			display: block;
			white-space: pre-wrap;
			width: 100%;
			text-align: center;
			//margin: 0 4px;
			.hi {
				display: inline-block;
				.transition(all 600ms @cool-bezier);
				transition-delay: 400ms;
			}
			.reveal {
				.transition(all 600ms @cool-bezier);
				transition-delay: 700ms;
				opacity: 1;
			}
		}
		.line:nth-child(1) .reveal {
			transition-delay: 1200ms;
		}
		.line:nth-child(2) .reveal {
			transition-delay: 1800ms;
		}
		.name {
			//color: @color-vintage-white;
		}
	}
	.scroll {
		width: 100%;
		position: absolute;
		bottom: 30px;
		left: 0;
		.transition(all 1200ms @cool-bezier);
		transition-delay: 1500ms;
		img {
			display: block;
			height: 40px;
			.center();
		}
	}

	@media @tablet {
		/*.text {
			width: 50%;
			width: 50vw;
		}*/
	}
}
.preload {
	.intro .image {
		opacity: 0;
	}
	.line {
		.hi {
			transform: translateX(140px);
			@media @smallmobile {
				transform: translateX(100px);
			}
			@media @tablet {
				transform:translateX(292px);
			}
		}
		.visible {
			opacity: 1;
		}
		.reveal {
			opacity: 0 !important;
			transform: translateY(20px);
		}
	}
	.scroll {
		opacity: 0 !important;
		transform: translateY(20px);
	}
}
.about {
	.about-wrapper {
		display: flex;
		align-items: stretch;
		align-content: center;
		height: auto !important;
		.flex-wrap(wrap);
		@media @tablet {
			.flex-wrap(nowrap);
		}
		@media @bigdesktop {
			width: 1440px;
			.center();
		}
	}
	height: auto !important;

	.image {
		width: 100%;
		padding-top: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		display: flex;
		align-content: center;
		.flex-wrap(wrap);
		@media @tablet {
			height: 100%;
			padding-top: 0;
		}
	}
	.about-text {
		width: 100%;
		display: flex;
		align-content: center;
		.flex-wrap(wrap);
	}
	div {
		//float: left;
		width: 100%;
	}
	h3 {
		display: inline-block;
		margin-bottom: 10px;
		//margin-bottom: 0;
	}
	h6 {
		text-align: left;
		font-size: 1.8rem;
		margin-top: 0;
		margin-bottom: 6%;
		line-height: 140%;
		p {
			font-family: @std-font;
			color: @color-black;
		}
		@media @tablet {
			font-size: 1.6rem;
		}
		@media @desktop {
			font-size: 1.4rem;
		}
	}
	@media @tablet {
		height: 110vh;
	}
}
.about-1 {
	//background-color: @color-grad-1;
	background-color: @color-something-grenish;
	.image {
			background-image: url("../img/macbook_gold.png");
	}
}
.about-2 {
	//background-color: @color-grad-2;
	background-color: @color-cute-yellow;
	.about-wrapper {
		flex-direction: column-reverse;
		@media @tablet {
			margin-top: -10vh;
			flex-direction: row;
		}
	}
	.image {
			background-size: 60%;
			background-image: url("../img/tacoburger.svg");
	}

}
.about-3 {
	background-color: @color-something-grenish;

	.image {
			background-image: url("../img/delorean.svg");
	}
}
.resume {
	//background: @color-graceful-green;
	background-color: @color-something-grenish;
	//color: @color-vintage-white;
	h6 {
		//margin-left: 5%;
		//transform: none;
		font-size: 20px;
		@media @tablet {
			width: 80%;
			font-size: 24px;
		}
		@media @desktop {
			width: 50%;
		}
	}
	.positions {
		width: 100vw;
		overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
		display: flex;
		align-items: stretch;
		//align-content: center;

		.flex-wrap(nowrap);
		flex-shrink: 0;
		flex-basis: auto; /* default value */
		* {
			white-space: normal;
		}
		@media @tablet {
			.flex-wrap(wrap);
			.flex(1 1 auto);
		}
		.position {
			display: flex;
			align-items: stretch;
			//align-content:flex-start;
			.flex-wrap(wrap);
			min-width: 86vw;
			margin: 2vw;
			padding: 4vw;
			border: 4px solid @color-black;
			.border-radius(11px);
			@media @tablet {
				min-width: auto;
				overflow-y: auto;
				width: 31vw;
				margin: 1vw;
				padding: 2vw;
			}
			@media @desktop {
				margin: 1vw;
				padding: 1vw;
			}
			@media @bigdesktop {
				width: 23vw;
			}
			.image {
				width: 100%;
				height: 300px;
				display: flex;
				align-content:center;
				align-self: flex-start;
				img, object {
					max-width: 100%;
					max-height: 100%;
					align-self: center;
					.center();
				}
				@media @tablet {
					height: 29vw;
				}
				@media @bigdesktop {
					height: 16vw;
				}
			}
			.text {
				font-size: 1.3rem;
				line-height: 150%;
				width: 100%;
				flex-basis: auto; /* default value */
				@media @smallmobile {
					min-width: 275px;
				}
				@media @tablet {
					min-width: auto;
				}
				h4 {
					margin-bottom: 10px;
					font-size: 1.5rem;
					@media @tablet {
						font-size: 1.2rem;
					}
					@media @bigdesktop {
						font-size: 1.6rem;
					}
				}
				@media @tablet {
					font-size: 1.1rem;
				}
				@media @bigdesktop {
					font-size: 1.3rem;
				}
			}
			a {
				display: block;
				align-self: flex-end;
				padding-top: 14px;
				font-size: 1.3rem;
				@media @tablet {
					font-size: 1.1rem;
				}
				@media @bigdesktop {
					font-size: 1.3rem;
				}
			}
		}
	}
}
.projects {
	background-color: @color-vintage-white;
	padding-top: 10vh;
}
.post {
	padding-top: 2vh;
	border-bottom: 3px solid rgba(0, 0, 0, 0.05);
	.post-body {
		position: relative;
		padding: 2vw;
	}
	img {
		max-width: 96vw;
	}
	h1 {
		margin: 5vh auto 2vh auto;
		width: 95%;
		max-width: 800px;
	}
	@media @tablet {
		.post-body {
			padding: 0;
			p, h1, h2, h3, h4, h5 {
				padding-left: 50vw;
				max-width: calc(~"50vw +"@max-width/2);
			}
		}
		img {
			display: block;
			position: absolute;
			//left: calc(~"(100vw -"@max-width~")/2");
			left: 0;
			top: 0;
			width: 50vw;
			max-width: @max-width/2;
			max-height: 90vw;
			padding: 0 2vw;
			opacity: 0;
			.transition(opacity 400ms @cool-bezier);
		}
		img.fixed {
			position: fixed;
		}
		img.absolute {
			top: auto;
			bottom: 0;
			// left: 0;
			position: absolute;
		}
		img.visible {
			opacity: 1;
		}
	}
	@media @bigdesktop {
		img {
			left: calc(~"(100vw -"@max-width~")/2");
		}
	}
}
.post:last-child {
	border-bottom: 0px solid rgba(0, 0, 0, 0.2);
}

.contacts {
	overflow: hidden;
	clear: both;
	.contact-way {
		display: block;
		width: 50%;
		padding-bottom: 50%;
		position: relative;
		float: left;
		cursor: pointer;
		border-bottom: 0px;

		i {
			font-size: 4rem;
			overflow: visible;
			display: inline-block;
			position: absolute;
			color: @color-white;
			width: 50%;
			height: 50%;
			top: 0; left: 0; bottom: 0; right: 0;
			.transform(translate(100%, 100%));
		}
		i:before {

			margin: auto;
			display: inline-block;
			.transform(translate(-50%, -50%));
			.transition(all 0.4s @cool-bezier);
		}
		i:after {
			display: inline-block;
			position: absolute;
			font-size: 2rem;
			top: 32%;
			left: 0;
			white-space: nowrap;
			font-weight: bold;
			.transform(translate(-50%, 0%));
			.transform(scale(90%));
			.transition(all 0.4s @cool-bezier);
			.opacity(0);
		}

		@media @tablet {
			width:33.3333%;
			padding-bottom: 33.3333%;
			i:after {
				font-size: 1.4rem;
			}
		}
		@media @desktop {
			width:16.66666%;
			padding-bottom: 16.66666%;
		}
		@media @bigdesktop {
			i {
				font-size: 6rem;
			}
			i:after {
				font-size: 1.5rem;
			}
		}
		.linkedin {
        background: #0976B4;
        i:after {
          content: 'Viktor Gustafsson'
        }
    }
    .twitter {
      background: #55ACEE;
      i:after {
        content: '@viktorcarloskar'
      }
    }
    .instagram {
      background: #3f729b;
      i:after {
        content: '@viktorcarloskar'
      }
    }
    .github {
      background: #E5E5E5;
      i {
        color: #333333;
      }
      i:after {
        content: '@viktorcarloskar'
      }
    }
    .facebook {
      background: #3B5998;
      i:after {
        content: 'Viktor Gustafsson'
      }
    }
    .email {
      background: #F7CA18;
      i:after {
        content: 'viktor@vigu.se'
      }
    }
	}
	.contact-way:hover {
		i:before {
			.transform(translate(-50%, -70%));
		}
		i:after {
			.transform(scale(100%));
			.transition(all 0.4s @cool-bezier 0.2s);
			.opacity(1);
		}
	}
	.linkedin {
			background: #0976B4;
			i:after {
				content: 'Viktor Gustafsson'
			}
	}
	.twitter {
		background: #55ACEE;
		i:after {
			content: '@viktorcarloskar'
		}
	}
	.instagram {
		background: #3f729b;
		i:after {
			content: '@viktorcarloskar'
		}
	}
	.github {
		background: #E5E5E5;
		i {
			color: #333333;
		}
		i:after {
			content: '@viktorcarloskar'
		}
	}
	.facebook {
		background: #3B5998;
		i:after {
			content: 'Viktor Gustafsson'
		}
	}
	.email {
		background: #F7CA18;
		i:after {
			content: 'viktor@vigu.se'
		}
	}
}

footer {
	display: flex;
	align-items: center;
	height: 20vh;
	background-color: @color-title-gray;
	color: @color-white;
	@media @tablet {
		height: 8vh;
	}
	.content {
		text-align: center;
		line-height: 150%;
		.center();
	}
	font-size: 18px;
	padding: 1vw;
	.icon {
		height: 18px;
		margin-bottom: -2px;
	}
}
