
@color-white: #fafafa;
@color-black: #0f0f0f;
@color-selection: #4f4444;
@color-cool-blue: #0b9ee1;
@color-cool-blue-accent: #64c4ec;
@color-strong-cyan: #00D4C5;
@color-vintage-white: #FAF8F5;
@color-slime-green: rgb(154, 236, 145);
@color-something-grenish: #0CEB9C;
@color-cute-yellow: #E5EC8B;
@color-pineapple-yellow: #ffec89;
//@color-radical-red: #ff2346;
@color-pleasing-apricot: #F39C99  ;
@color-radical-red: #F79DEA;
@color-paradise-pink: #f763a0;
@color-title-gray: #333;

@color-grad-1: #0dc2e7;
@color-grad-2: #0de7c4;


@color-gulp-red: #DA4648;

// VARIABLES
@smallmobile:  ~"only screen and (max-width: 22rem)";
@tablet:    ~"only screen and (min-width: 40rem)"; // 640px
@desktop:   ~"only screen and (min-width: 64rem)"; // 1024px
@bigdesktop:   ~"only screen and (min-width: 90rem)"; // 1440px

@max-width: 1200px;

@cool-bezier: cubic-bezier(0.625,.125,.305,.875);

//@std-font: "proxima_nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@std-font: 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@alt-font: Georgia, Times, 'Times New Roman', serif;



*, *:before, *:after {
  .box-sizing();
}

body {
  background-color: @color-white;
  color: @color-black;
  height: 100%;
  transition: background 40ms ease-in-out;
}

.container {
  margin: 0 auto;
  //max-width: @max-width;
  width: 100%;
  padding: 0 3%;
  position: relative;
}

.hero {
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.wrapper {
  height: 100vh;
  padding: 0 4%;
}
@media @tablet {
  .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.part {
  transition: background 400ms ease-in-out;
}

h1.swirl, h2.swirl, h3.swirl, h4.swirl, h5.swirl, h6.swirl {
  font-size: 2.8rem;
  line-height: 112%;
  //border-top: 6px solid;
  padding-top: 20px;
  position: relative;
}
h1.swirl::before, h2.swirl::before, h3.swirl::before, h4.swirl::before, h5.swirl::before, h6.swirl::before {
  content: "";
  height: 14px;
  -webkit-mask-image: url("../img/swiwle.svg");
  mask-image: url("../img/swiwle.svg");
  background-color: @color-cute-yellow;
  background-repeat: repeat-x;
  position: absolute;
  margin-top: -18px;
  width: 100%;
}

h1.swirl.red::before, h2.swirl.red::before, h3.swirl.red::before, h4.swirl.red::before, h5.swirl.red::before, h6.swirl.red::before {
  background-color: @color-radical-red;
}
h1.swirl.green::before, h2.swirl.green::before, h3.swirl.green::before, h4.swirl.green::before, h5.swirl.green::before, h6.swirl.green::before {
  background-color: @color-something-grenish;
}
h1.swirl.cyan::before, h2.swirl.cyan::before, h3.swirl.cyan::before, h4.swirl.cyan::before, h5.swirl.cyan::before, h6.swirl.cyan::before {
  background-color: @color-strong-cyan;
}
h1.swirl.white::before, h2.swirl.white::before, h3.swirl.white::before, h4.swirl.white::before, h5.swirl.white::before, h6.swirl.white::before {
  background-color: @color-vintage-white;
}
h1.swirl.black::before, h2.swirl.black::before, h3.swirl.black::before, h4.swirl.black::before, h5.swirl.black::before, h6.swirl.black::before {
  background-color: @color-black;
}
h1.swirl.apricot::before, h2.swirl.apricot::before, h3.swirl.apricot::before, h4.swirl.apricot::before, h5.swirl.apricot::before, h6.swirl.apricot::before {
  background-color: @color-pleasing-apricot;
}
h1.swirl.pink::before, h2.swirl.pink::before, h3.swirl.pink::before, h4.swirl.pink::before, h5.swirl.pink::before, h6.swirl.pink::before {
  background-color: @color-paradise-pink;
}

.header-container {
  text-align: center;
  h1.center, h2.center, h3.center, h4.center, h5.center, h6.center {
    text-align: center;
    display: inline-block;
  }
}


@media @desktop {
  .container {
    padding: 0 2%;
  }
}

b {
  font-weight: bold;
}
h1 {
  font-size: 2.3rem;
  line-height: 1.15;
  font-weight: bold;
}
h2 {
  font-size: 2.8rem;
  width: 100%;
  font-weight: bold;
  padding: 5% 0 2% 0;
  text-align: center;
}
h6 {
  font-size: 1.4rem;
  line-height: 132%;
  font-weight: bold;
  //padding: 5% 0 2% 0;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: solid 2px;
}

p {
  font-family: @alt-font;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  font-size: 1.4rem;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: rgba(0,0,0,0.8);
}

::selection {
  background: @color-selection; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: @color-selection; /* Gecko Browsers */
}
