/* Cool colors */
/* FONT IMPORT */
/*
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-bold-webfont.woff') format('woff'),
       url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova';
  src: url('../fonts/proximanova-lightitalic-webfont.eot');
  src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'),
       url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-lightitalic-webfont.svg#proxima_novalight_italic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima_nova_thin-webfont.eot');
    src: url('../fonts/proxima_nova_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_thin-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_thin-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_thin-webfont.svg#proxima_novathin') format('svg');
    font-weight: 100;
    font-style: normal;
}*/
/*
@font-face {
    font-family: 'blokk';
    src: url('fonts/blokk/BLOKKNeue-Regular.eot');
    src: url('fonts/blokk/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/blokk/BLOKKNeue-Regular.woff') format('woff'),
         url('fonts/blokk/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  color: #0f0f0f;
  height: 100%;
  transition: background 40ms ease-in-out;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 3%;
  position: relative;
}
.hero {
  overflow: hidden;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.wrapper {
  height: 100vh;
  padding: 0 4%;
}
@media only screen and (min-width: 40rem) {
  .wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.part {
  transition: background 400ms ease-in-out;
}
h1.swirl,
h2.swirl,
h3.swirl,
h4.swirl,
h5.swirl,
h6.swirl {
  font-size: 2.8rem;
  line-height: 112%;
  padding-top: 20px;
  position: relative;
}
h1.swirl::before,
h2.swirl::before,
h3.swirl::before,
h4.swirl::before,
h5.swirl::before,
h6.swirl::before {
  content: "";
  height: 14px;
  -webkit-mask-image: url("../img/swiwle.svg");
  mask-image: url("../img/swiwle.svg");
  background-color: #E5EC8B;
  background-repeat: repeat-x;
  position: absolute;
  margin-top: -18px;
  width: 100%;
}
h1.swirl.red::before,
h2.swirl.red::before,
h3.swirl.red::before,
h4.swirl.red::before,
h5.swirl.red::before,
h6.swirl.red::before {
  background-color: #F79DEA;
}
h1.swirl.green::before,
h2.swirl.green::before,
h3.swirl.green::before,
h4.swirl.green::before,
h5.swirl.green::before,
h6.swirl.green::before {
  background-color: #0CEB9C;
}
h1.swirl.cyan::before,
h2.swirl.cyan::before,
h3.swirl.cyan::before,
h4.swirl.cyan::before,
h5.swirl.cyan::before,
h6.swirl.cyan::before {
  background-color: #00D4C5;
}
h1.swirl.white::before,
h2.swirl.white::before,
h3.swirl.white::before,
h4.swirl.white::before,
h5.swirl.white::before,
h6.swirl.white::before {
  background-color: #FAF8F5;
}
h1.swirl.black::before,
h2.swirl.black::before,
h3.swirl.black::before,
h4.swirl.black::before,
h5.swirl.black::before,
h6.swirl.black::before {
  background-color: #0f0f0f;
}
h1.swirl.apricot::before,
h2.swirl.apricot::before,
h3.swirl.apricot::before,
h4.swirl.apricot::before,
h5.swirl.apricot::before,
h6.swirl.apricot::before {
  background-color: #F39C99;
}
h1.swirl.pink::before,
h2.swirl.pink::before,
h3.swirl.pink::before,
h4.swirl.pink::before,
h5.swirl.pink::before,
h6.swirl.pink::before {
  background-color: #f763a0;
}
.header-container {
  text-align: center;
}
.header-container h1.center,
.header-container h2.center,
.header-container h3.center,
.header-container h4.center,
.header-container h5.center,
.header-container h6.center {
  text-align: center;
  display: inline-block;
}
@media only screen and (min-width: 64rem) {
  .container {
    padding: 0 2%;
  }
}
b {
  font-weight: bold;
}
h1 {
  font-size: 2.3rem;
  line-height: 1.15;
  font-weight: bold;
}
h2 {
  font-size: 2.8rem;
  width: 100%;
  font-weight: bold;
  padding: 5% 0 2% 0;
  text-align: center;
}
h6 {
  font-size: 1.4rem;
  line-height: 132%;
  font-weight: bold;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: solid 2px;
}
p {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  font-size: 1.4rem;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.8);
}
::selection {
  background: #4f4444;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #4f4444;
  /* Gecko Browsers */
}
/* HELPING CLASSES */
.fl {
  float: left;
}
.fr {
  float: right;
}
/* THOSE HEADLINES */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 70%;
  height: 100%;
  line-height: 150%;
}
@media only screen and (min-width: 40rem) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: 64rem) {
  html {
    font-size: 100%;
  }
}
body {
  color: #0f0f0f;
  height: 100%;
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 3%;
  position: relative;
}
@media only screen and (min-width: 64rem) {
  .container {
    padding: 0 2%;
  }
}
b {
  font-weight: bold;
}
h2 {
  font-size: 2.8rem;
  width: 100%;
  font-weight: bold;
  padding: 5% 0 2% 0;
  text-align: center;
}
a {
  color: inherit;
}
::selection {
  background: #4f4444;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #4f4444;
  /* Gecko Browsers */
}
header {
  position: absolute;
  color: #FAF8F5;
}
.intro {
  min-height: 99vh;
  position: relative;
  background: #0b9ee1;
}
.intro .image {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/viktor.png');
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -moz-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -ms-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -o-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  transition-delay: 600ms;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 40rem) {
  .intro .image {
    width: 400px;
    height: 400px;
  }
}
.intro .text {
  width: 90%;
  width: 90vw;
  color: #FAF8F5;
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
}
@media only screen and (max-width: 22rem) {
  .intro .text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 40rem) {
  .intro .text {
    font-size: 42px;
  }
}
.intro .text .line {
  display: block;
  white-space: pre-wrap;
  width: 100%;
  text-align: center;
}
.intro .text .line .hi {
  display: inline-block;
  -webkit-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -moz-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -ms-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -o-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  transition-delay: 400ms;
}
.intro .text .line .reveal {
  -webkit-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -moz-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -ms-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -o-transition: all 600ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  transition-delay: 700ms;
  opacity: 1;
}
.intro .text .line:nth-child(1) .reveal {
  transition-delay: 1200ms;
}
.intro .text .line:nth-child(2) .reveal {
  transition-delay: 1800ms;
}
.intro .scroll {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
  -webkit-transition: all 1200ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -moz-transition: all 1200ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -ms-transition: all 1200ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -o-transition: all 1200ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  transition-delay: 1500ms;
}
.intro .scroll img {
  display: block;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 40rem) {
  .intro {
    /*.text {
			width: 50%;
			width: 50vw;
		}*/
  }
}
.preload .intro .image {
  opacity: 0;
}
.preload .line .hi {
  transform: translateX(140px);
}
@media only screen and (max-width: 22rem) {
  .preload .line .hi {
    transform: translateX(100px);
  }
}
@media only screen and (min-width: 40rem) {
  .preload .line .hi {
    transform: translateX(292px);
  }
}
.preload .line .visible {
  opacity: 1;
}
.preload .line .reveal {
  opacity: 0 !important;
  transform: translateY(20px);
}
.preload .scroll {
  opacity: 0 !important;
  transform: translateY(20px);
}
.about {
  height: auto !important;
}
.about .about-wrapper {
  display: flex;
  align-items: stretch;
  align-content: center;
  height: auto !important;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 40rem) {
  .about .about-wrapper {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 90rem) {
  .about .about-wrapper {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
.about .image {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  display: flex;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media only screen and (min-width: 40rem) {
  .about .image {
    height: 100%;
    padding-top: 0;
  }
}
.about .about-text {
  width: 100%;
  display: flex;
  align-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about div {
  width: 100%;
}
.about h3 {
  display: inline-block;
  margin-bottom: 10px;
}
.about h6 {
  text-align: left;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 6%;
  line-height: 140%;
}
.about h6 p {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #0f0f0f;
}
@media only screen and (min-width: 40rem) {
  .about h6 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 64rem) {
  .about h6 {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 40rem) {
  .about {
    height: 110vh;
  }
}
.about-1 {
  background-color: #0CEB9C;
}
.about-1 .image {
  background-image: url("../img/macbook_gold.png");
}
.about-2 {
  background-color: #E5EC8B;
}
.about-2 .about-wrapper {
  flex-direction: column-reverse;
}
@media only screen and (min-width: 40rem) {
  .about-2 .about-wrapper {
    margin-top: -10vh;
    flex-direction: row;
  }
}
.about-2 .image {
  background-size: 50%;
  background-image: url("../img/taco_emoji.svg");
}
.resume {
  background-color: #0CEB9C;
}
.resume h6 {
  font-size: 20px;
}
@media only screen and (min-width: 40rem) {
  .resume h6 {
    width: 80%;
    font-size: 24px;
  }
}
@media only screen and (min-width: 64rem) {
  .resume h6 {
    width: 50%;
  }
}
.resume .positions {
  width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
  display: flex;
  align-items: stretch;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex-shrink: 0;
  flex-basis: auto;
  /* default value */
  min-width: 300px;
}
.resume .positions * {
  white-space: normal;
}
@media only screen and (min-width: 40rem) {
  .resume .positions {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
.resume .positions .position {
  display: flex;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 86vw;
  margin: 2vw;
  padding: 4vw;
  border: 4px solid #0f0f0f;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media only screen and (min-width: 40rem) {
  .resume .positions .position {
    overflow-y: auto;
    width: 31vw;
    margin: 1vw;
    padding: 2vw;
  }
}
@media only screen and (min-width: 64rem) {
  .resume .positions .position {
    margin: 1vw;
    padding: 1vw;
  }
}
@media only screen and (min-width: 90rem) {
  .resume .positions .position {
    width: 23vw;
  }
}
.resume .positions .position .image {
  width: 100%;
  height: 300px;
  display: flex;
  align-content: center;
  align-self: flex-start;
}
.resume .positions .position .image img,
.resume .positions .position .image object {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 40rem) {
  .resume .positions .position .image {
    height: 29vw;
  }
}
@media only screen and (min-width: 90rem) {
  .resume .positions .position .image {
    height: 16vw;
  }
}
.resume .positions .position .text {
  font-size: 1.3rem;
  line-height: 150%;
  width: 100%;
  flex-basis: auto;
  /* default value */
  min-width: 300px;
}
@media only screen and (min-width: 40rem) {
  .resume .positions .position .text {
    min-width: auto;
  }
}
.resume .positions .position .text h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
@media only screen and (min-width: 40rem) {
  .resume .positions .position .text h4 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 90rem) {
  .resume .positions .position .text h4 {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 40rem) {
  .resume .positions .position .text {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 90rem) {
  .resume .positions .position .text {
    font-size: 1.3rem;
  }
}
.resume .positions .position a {
  display: block;
  align-self: flex-end;
  padding-top: 14px;
  font-size: 1.3rem;
}
@media only screen and (min-width: 40rem) {
  .resume .positions .position a {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 90rem) {
  .resume .positions .position a {
    font-size: 1.3rem;
  }
}
.projects {
  background-color: #FAF8F5;
  padding-top: 10vh;
}
.post {
  padding-top: 2vh;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}
.post .post-body {
  position: relative;
  padding: 2vw;
}
.post img {
  max-width: 96vw;
}
.post h1 {
  margin: 5vh auto 2vh auto;
  width: 95%;
  max-width: 800px;
}
@media only screen and (min-width: 40rem) {
  .post .post-body {
    padding: 0;
  }
  .post .post-body p,
  .post .post-body h1,
  .post .post-body h2,
  .post .post-body h3,
  .post .post-body h4,
  .post .post-body h5 {
    padding-left: 50vw;
    max-width: calc(50vw + 600px);
  }
  .post img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    max-width: 600px;
    max-height: 90vw;
    padding: 0 2vw;
    opacity: 0;
    -webkit-transition: opacity 400ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
    -moz-transition: opacity 400ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
    -ms-transition: opacity 400ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
    -o-transition: opacity 400ms cubic-bezier(0.625, 0.125, 0.305, 0.875);
  }
  .post img.fixed {
    position: fixed;
  }
  .post img.absolute {
    top: auto;
    bottom: 0;
    position: absolute;
  }
  .post img.visible {
    opacity: 1;
  }
}
@media only screen and (min-width: 90rem) {
  .post img {
    left: calc((100vw - 1200px )/2);
  }
}
.post:last-child {
  border-bottom: 0px solid rgba(0, 0, 0, 0.2);
}
.contacts {
  overflow: hidden;
  clear: both;
}
.contacts .contact-way {
  display: block;
  width: 50%;
  padding-bottom: 50%;
  position: relative;
  float: left;
  cursor: pointer;
  border-bottom: 0px;
}
.contacts .contact-way i {
  font-size: 4rem;
  overflow: visible;
  display: inline-block;
  position: absolute;
  color: #fafafa;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(100%, 100%);
  -moz-transform: translate(100%, 100%);
  -ms-transform: translate(100%, 100%);
  -o-transform: translate(100%, 100%);
}
.contacts .contact-way i:before {
  margin: auto;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -moz-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -ms-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -o-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
}
.contacts .contact-way i:after {
  display: inline-block;
  position: absolute;
  font-size: 2rem;
  top: 32%;
  left: 0;
  white-space: nowrap;
  font-weight: bold;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -webkit-transform: scale(90%);
  -moz-transform: scale(90%);
  -ms-transform: scale(90%);
  -o-transform: scale(90%);
  -webkit-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -moz-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -ms-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -o-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
@media only screen and (min-width: 40rem) {
  .contacts .contact-way {
    width: 33.3333%;
    padding-bottom: 33.3333%;
  }
  .contacts .contact-way i:after {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 64rem) {
  .contacts .contact-way {
    width: 16.66666%;
    padding-bottom: 16.66666%;
  }
}
@media only screen and (min-width: 90rem) {
  .contacts .contact-way i {
    font-size: 6rem;
  }
  .contacts .contact-way i:after {
    font-size: 1.5rem;
  }
}
.contacts .contact-way .linkedin {
  background: #0976B4;
}
.contacts .contact-way .linkedin i:after {
  content: 'Viktor Gustafsson';
}
.contacts .contact-way .twitter {
  background: #55ACEE;
}
.contacts .contact-way .twitter i:after {
  content: '@viktorcarloskar';
}
.contacts .contact-way .instagram {
  background: #3f729b;
}
.contacts .contact-way .instagram i:after {
  content: '@viktorcarloskar';
}
.contacts .contact-way .github {
  background: #E5E5E5;
}
.contacts .contact-way .github i {
  color: #333333;
}
.contacts .contact-way .github i:after {
  content: '@viktorcarloskar';
}
.contacts .contact-way .facebook {
  background: #3B5998;
}
.contacts .contact-way .facebook i:after {
  content: 'Viktor Gustafsson';
}
.contacts .contact-way .email {
  background: #F7CA18;
}
.contacts .contact-way .email i:after {
  content: 'viktor@vigu.se';
}
.contacts .contact-way:hover i:before {
  -webkit-transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
}
.contacts .contact-way:hover i:after {
  -webkit-transform: scale(100%);
  -moz-transform: scale(100%);
  -ms-transform: scale(100%);
  -o-transform: scale(100%);
  -webkit-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875) 0.2s;
  -moz-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875) 0.2s;
  -ms-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875) 0.2s;
  -o-transition: all 0.4s cubic-bezier(0.625, 0.125, 0.305, 0.875) 0.2s;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.contacts .linkedin {
  background: #0976B4;
}
.contacts .linkedin i:after {
  content: 'Viktor Gustafsson';
}
.contacts .twitter {
  background: #55ACEE;
}
.contacts .twitter i:after {
  content: '@viktorcarloskar';
}
.contacts .instagram {
  background: #3f729b;
}
.contacts .instagram i:after {
  content: '@viktorcarloskar';
}
.contacts .github {
  background: #E5E5E5;
}
.contacts .github i {
  color: #333333;
}
.contacts .github i:after {
  content: '@viktorcarloskar';
}
.contacts .facebook {
  background: #3B5998;
}
.contacts .facebook i:after {
  content: 'Viktor Gustafsson';
}
.contacts .email {
  background: #F7CA18;
}
.contacts .email i:after {
  content: 'viktor@vigu.se';
}
footer {
  display: flex;
  align-items: center;
  height: 20vh;
  background-color: #333;
  color: #fafafa;
  font-size: 18px;
  padding: 1vw;
}
@media only screen and (min-width: 40rem) {
  footer {
    height: 8vh;
  }
}
footer .content {
  text-align: center;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
}
footer .icon {
  height: 18px;
  margin-bottom: -2px;
}
