<footer>
  <div class="content">A product of the <a href="https://www.google.se/maps/place/Ume%C3%A5/@63.8269071,20.1719227,12z/data=!3m1!4b1!4m2!3m1!1s0x467c4e1b68add7f9:0x4034506de8c8560">cold cold north</a>, made with <img class="svg icon" src="img/heart.svg" alt="Image of a heart"/> and <img class="svg icon gulp" src="img/gulp.svg" alt="Gulp logo" />.</div>
</footer>
